
/*       a propos 
-----------------------------------*/

#page_a_propos{
	color: black;
	margin-left: 0%;
}

.sous_titre{
	font-size: 250%;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-left: 5%;
}

#equipe{

}

.membre{
	color: white;
	display: inline-block;
	width: 10%;
	width: 25%;
	background-color: #607D8B;
	padding-left: 1%;
	padding-top: 1%;
	margin-left: 5%;
	margin-bottom: 5%;
	padding-right: 1%;
}

.photo{
	display: inline-block;
}

.taille_photo{
	width: 30%;
	height: auto;
	margin-bottom: 5%;
}

.nom_prenom{
	display: inline-block;
	position: relative;
	margin-bottom: 3%;
}

.presentation{
	overflow: hidden;
	margin-bottom: 5%;
}

.contact{
	display: inline-block;
}

.reseau_social{
	display: inline-block;
	width: 25%;
	margin: 3%;
}

.taille_icon_mail{
	width: 50%;
	height: auto;
}

.taille_icon_facebook{
	width: 50%;
	height: auto;
}

.taille_icon_twitter{
	width: 50%;
	height: auto;
}

