
/*      home page
-----------------------------------*/

#head_entreprise{
	margin-top: 5%;
	margin-left: 5%;
	color: black;
	font-size: 250%;
}

#logo_enteprise{
	display: inline-block;
}

#logo{
	width: 50%;
	height: auto;
}

#nom_entreprise{
	display: inline-block;
}

#siret_entreprise{
	display: inline-block;
}


#meilleur_offre{
	display: inline-block;
	color: black;
	border: 2px solid red;
	float: right;
}

#compteur_entreprise{
	padding-left: 6%;
	margin-top: 15%;
	color: black;
	margin-left: 8%;
}

.count_entreprise{
	padding: 2% 3% 2% 3%;
	display: inline-block;
	font-size: 150%;
	margin-right: 3%;
	background-color: #00BCD4;
}
