
a{
	text-decoration: none;
}
header {
	display: block;
	position: fixed;
	width: 10.5em;
	z-index: 1;
	padding: 1% 0 0% 0;
	top: 0;
	bottom: 0;
	left: 0;
}

aside{
	
}

.logoVertical {
	font-family: 'FuturaKoyu',Arial,sans-serif;
	display: inline-block;
	margin-left: 0%;
	padding-bottom: 10%;
}

#logo_site_header{
    width: 80%;
    height: auto;
}

nav {
	display: block; 
	width: 100%;
	padding: 0;
	overflow: hidden;
}

nav ul {
	list-style-type: none;
	padding: 0;
	float: left;

}

nav li {
	display: inline-block;
	font-size: 100%;
	padding-top: 25%;
	padding-bottom: 25%;
	width: 100%;
	height: 100%;
	padding-left: 25%;
}

.span_header_logoVertical {
	font-size: 150%;
}


#credit{
	margin-top: 20%;
	color: black;
}

#page {
	margin-left: 10.5em;
}

#navHorizontal{
	position: absolute;
	width: 80%;
	padding: 1% 0 1% 5%;
	
}

#titrePage{
	display: inline-block;
	font-size: 200%;
}

.decon, .con{
	color: white;
	background-color: #FFEB3B;
	border-radius: 15px;
	padding:5px 25px;
	font-weight: bold;
}

.decon{
	font-size: 75%;
}

#bouton_deco{
	display: inline-block;
	margin-left: 30%;

}

.navHorizontalTransparence, .navHorizontalNonIndex, .navHorizontal_admin_entreprise, .navHorizontalGagnerCompetivite ,.navHorizontalDemarcheCitoyenne, .navHorizontalContact, .navHorizontalOuvrirDonnees, .navHorizontalOffres{
	padding: 2.2% 0 2.2% 5%;
	font-size: 200%;
	width: 95%;
}


.navHorizontal_admin_entreprise{
	background-color: #607D8B;
	padding: 2.2% 0 2.2% 5%;
	font-size: 200%;
	width: 95%;
}

.con{
	font-size: 100%;
	border: none;
	cursor: pointer;
}

#navHorizontal_connexion{
	background-color: #009688;
	padding: 1% 0 0% 70%;
	top: 2%;
	
}

.li_select{
	background-color: #009688;
	color: white;
}

.li_select_entreprise{
	background-color: #607D8B;
	color: white;
}

.span_headerVertical, .span_header_logoVertical, .contentListeEntreprise, .boutonListeEntreprise, #research, .contentEntreprise, .contentGuide{
color: black;
float: left;
width: 100%;
text-align: center;}


.span_headerVertical, .span_header_logoVertical, .contentListeEntreprise, .boutonListeEntreprise, #research, .contentEntreprise, .contentGuide li{

float: left;
padding: 0 !important;
}