
/*       login 
-----------------------------------*/

.page_creation_compte{
	color: black;
	display: block;
	width: 100%;
	padding-bottom: 3%;
}

#titre_creation_compte{
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 200%;
}

.titre_left, .titre_right{
	display: inline-block;
	margin-left: 25%;
}

#row{
	 display: table;
	margin-left: 20%;
}

.block_left, .block_right{
	display: table-cell; 
	width: 52%;
}


.bouton_submit{
	cursor:pointer;
	padding:5px 25px;
	background-color: #CDDC39;
	border-radius: 15px;
	color:white;
	font-size:75%;
	border: none;
}

.bouton_submit:hover{
	background-color:#009688;
}

.form_entreprise, .form_particulier{
    display: block;
    float: left;

}

.form_entreprise{
    width: 267px;
}

.form_particulier{
    width: 150px;
}