#header_vertical_left{
	display: inline-block;
	top: 0;
	bottom: 0;
	left: 0;
	width: 10%;
	border: 1px solid red;
	float: left;
	padding-top: 1%;
	padding-bottom: 3%;
	background-color: rgb(238, 238, 238);/* gris très clair*/
	color: black;
}

#logo_D4A{
	padding-bottom: 8%;
	border-bottom: 2px solid #e3e3e3;
	
}


#img_logo_D4A{
	width: 80%;
	height: auto;
}

ul{
	list-style-type: none;
	padding-left: 0;
}

a{
	text-decoration: none;
	color: black;
}

#nav_header_left{
	margin-top: 60%;
}

.lien_header_left{
	padding-top: 5%;
	padding-bottom: 30%;
}

.content_lien{
	margin-left: 25%;
}

#copyright{
	margin-left: 15%;
	display: inline-block;
	padding-top: 62%;
}