/* Section Contact 
--------------------------------------*/


.sectionContact{
	padding: 5% 0 10% 0;
}

.titreSectionContact{
	font-size: 300%;
}


#Gmap{
	display: inline-block;
	width: 99.5%;
}

#googleMap{
 	width: 100%;
}

.section_contact{
	display: inline-block;
}