/* Section Contact 
--------------------------------------*/


.sectionContact{
	padding: 2% 0 3% 0;
}

.titreSectionContact{
	margin-left: 5%;
	font-size: 250%;
}


#Gmap{
	display: inline-block;
	width: 99.5%;
}

#googleMap{
 	width: 100%;
}

.section_contact{
	display: inline-block;
}