
/*       titre principale 
------------------------------*/

#titrePrincipal{
	
	padding: 3% 0 2% 8%;
	
}

#titreHome{
	font-family: 'FuturaKoyu',Arial,sans-serif;
	display: inline-block;
	font-size: 500%;
}

span{
	font-size: 80%;
}


