/*        Section Guide 
------------------------------*/

.sectionGuide{
	padding: 2% 0 3% 0;
}

.titreSectionGuide{
	margin-left: 5%;
	font-size: 250%;
}

.commentaireSectionGuide{
	display: inline-block;
	margin-left: 10%;
	margin-top: 3%;
	width: 30%;
}

.boutonSectionGuide{
	display: inline-block;
	padding: 1%;
	margin-left: 35%;
	text-decoration: none;
}

