/*        Section Compteur 
------------------------------*/
#compteur{
	padding: 2% 0 3% 0;
}

#titre_compteur{
	margin-left: 5%;
	font-size: 250%;
}

.count{
	display: inline-block;
	font-size: 150%;
	margin-left: 10%;
	margin-top: 3%;
}

.titre_nombre_entreprise{
	margin-bottom: 2%;
}

.nombre_count{

}